* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f1f1f4 !important;
}

.container {
  margin: 4em;
  background-color: #f1f1f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarContainer {
  background-color: white;
  height: 68px;
  max-height: 68px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0em 5em;
}

.flexItem {
  margin: 2em; /* Adjust the spacing between columns as needed */
  box-sizing: border-box;
}

.homeImage {
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.4));
}
